*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 100px;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 14px;
    color: #000;
}
.flex{
    display: flex;
}
.wrap{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}