.center{
    width: 100%;
    height: 3.1rem;
    /* background: red; */
}
.center img{
    width: 100%;
    height: 100%;
}
.product{
    width: 100%;
}
.product h2{
    text-align: center;
    padding: 0.4rem 0 0 0 ;
    font-weight: 500;
    font-size: 0.25rem;
}
.product ul{
    margin-top: 0.3rem;
}
.product ul li{
    width: 33%;
    text-align: center;
    position: relative;
}
.product ul li img{
    width: 1rem
}
.product ul li p{
    /* text-align: left; */
    font-size: 0.16rem;
    color: red;
    
}
.product ul li h1{
    font-size: 0.16rem;
    font-weight: 500;
    padding: 0.1rem 0;
    color: #989898;
}
.product .pro{
    display: block;
    text-align: center;
    margin-top: 0.2rem;
    font-size: 0.2rem;
}
.means{
    justify-content: space-between;
}
.ppd i{
    font-size: 0.16rem;
    color: red;
    font-style: normal;
}
.ppd s{
    font-size: 0.12rem;
}
.textst{
      /* text-align: left; */
      font-size: 0.16rem;
      color: #989898;
}
.ball_hot{
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 1rem;
    background-image:linear-gradient(120deg,#ff3149,#ff64a6);
    color: #fff;
    font-size: 0.12rem;
    line-height:0.35rem;
    position: absolute;
    left:0px;
    top: -0.15rem;
    
}
.ball_dep{
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 1rem;
    background-image: linear-gradient(120deg,#2e74f6,#56bdf9);
    color: #fff;
    font-size: 0.12rem;
    line-height:0.35rem;
    position: absolute;
    left:0px;
    top: -0.15rem;
    
}
.bottom{
    width: 100%;
    height: 2.5rem;
    background: #999999;
    margin-top: 0.3rem;
}
.site{
    /* margin-left:0.5rem; */
    overflow: hidden;
}
.relation{
    font-size: 0.16rem;
    color: #fff;
    margin-top: 0.3rem;

}
.borders{
    display: block;
    width: 2rem ;
    height: 0.02rem;
    background: #fff;
    margin-top: 0.2rem;
}
.bottom ol{
    margin-top: 0.2rem;
}
.bottom ol li{
   padding: 0.05rem 0  
}
.bottom ol li a{
    font-size: 0.14rem;
    color: #fff;
    
}
.put{
    text-align: center;
    margin-top: 0.2rem;
}
.put p{
    font-size: 0.12rem;
    color: #fff;
}
.put span{
    display: block;
    font-size: 0.12rem;
    color: #fff;
    margin-top: 0.1rem;
}
