.center{
    width: 100%;
    height: 3.1rem;
    /* background: red; */
}
.center img{
    width: 100%;
    height: 100%;
}
.product{
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.pro{
    display: block;
    margin-top: 0.2rem;
    font-size: 0.20rem;
    color: #000; 
}
.product ul li img{
    display: block;
    width: 0.65rem;
    margin: 0 auto;
}
.product ul li span{
    display: block;
}
.product ul{
    width: 100%;
    margin-top: 0.1rem;
}
.product ul li {
    width: 35%;
}
.texts{
    font-size: 0.24rem;
    padding: 0.05rem 0;
    color: #504e4f;
}
.mean{
    justify-content: space-around
}
.bottom{
    width: 100%;
    height: 2.5rem;
    background: #232940;
    margin-top: 0.3rem;
}
.site{
    /* margin-left:0.5rem; */
    overflow: hidden;
}
.relation{
    font-size: 0.16rem;
    color: #fff;
    margin-top: 0.3rem;

}
.borders{
    display: block;
    width: 2rem ;
    height: 0.02rem;
    background: #fff;
    margin-top: 0.2rem;
}
.bottom ol{
    margin-top: 0.2rem;
}
.bottom ol li{
   padding: 0.05rem 0  
}
.bottom ol li a{
    font-size: 0.14rem;
    color: #fff;
    
}
.put{
    text-align: center;
    margin-top: 0.2rem;
}
.put p{
    font-size: 0.12rem;
    color: #fff;
}
.put span{
    display: block;
    font-size: 0.12rem;
    color: #fff;
    margin-top: 0.1rem;
}
