.center{
    width: 100%;
    /* height: 600px; */
    /* background: red; */
}
.center img{
    width: 100%;
    /* height: 100%; */
}
.box{
    /* min-height: 100%;
    height: 100%; */
}
.referral{
    width: 100%;
    /* height: 5rem; */
    background: #e03132;
}
.text{ 
    width: 100%;
    /* margin-top: 1.1rem; */
    padding: 0.2rem 0;
}
.text p{
    color: #fff;
    padding: 0.1rem 0;
}
.text h1{
    font-size: 0.20rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
.move{
    justify-content: space-between
}
.text ul li{
    padding: 0.2rem 0 0 0 ;
}
.text ul li span{
    color: #fff;
}
.text ul li a{
    color: #fff;
}
.product{
    width: 100%;
    /* padding-bottom:150px; */
}
.product h2{
    text-align: center;
    padding: 0.3rem 0 0 0 ;
    font-weight: 500;
    font-size: 0.25rem;
}
.product ul{
    margin-top: 0.3rem;
}
.product ul li{
    width: 33%;
    text-align: center;
}
.product ul li img{
    width: 1rem;
}
.product ul li p{
    /* text-align: left; */
}
.product ul li h1{
    font-size: 0.2rem;
    font-weight: 500;
    padding: 0.1rem 0;
    color:#5a5a5a
}
.means{
    justify-content: space-between;
}

